body {
	margin: 0px;
	background-image: url("https://4.bp.blogspot.com/-EWDTcSQ9bVI/TgXRiqnVwsI/AAAAAAAAIuY/X9NIt4A-new/s1600/Natuur-achtergronden-hd-natuur-wallpapers-afbeelding-foto-24.jpg")
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
        background-color: #4CAF50;
        color: white;
}

li a:hover:not(.active)   {
  background-color: #555;
  color: white;
}
